/* Configurações Gerais */

:root {
    --principal-font: "Nunito", sans-serif;
    --secondary-font: "Nunito Sans", sans-serif;
    --primary-color: #ffffff;
    --secondary-color: #005cff;
    --tertiary-color: #000000;
    --decorative-color: #6220c1;
    --primary-gray: #f5f5f5;
    --secondary-gray: #dedede;
    --tertiary-gray: #4f4f4f;
    --decorative-gray: #dddddd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: var(--principal-font), sans-serif;
    width: 100%;
    font-size: 14px;
}

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
}

input[type="checkbox"]:checked::before {
    content: "✔";
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 18px;
}

.button-action {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border: none;
    border-radius: 8px;
    padding: 14px 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-action:hover {
    background-color: var(--decorative-color);
}

.button-action:active {
    transform: scale(0.85);
}

.hidden {
    display: none;
}


/* Banner Promocional */

.banner-promo {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 4px 0;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

.background-purple {
    background-color: var(--decorative-color);
    border-radius: 4px;
    padding: 2px 4px;
}

.italic-text {
    font-style: italic;
}


/* Header */

.header {
    width: 1260px;
    margin: 0 auto;
}

.header-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 17px 0;
}

.header-itens_search input {
    width: 594px;
    font-family: var(--secondary-font), sans-serif;
    font-weight: 500;
    text-align: left;
    padding: 12px 12px 10px 24px;
    margin: 0 12px 0 72px;
    background: url("../assets/icons/lupa.svg") no-repeat right 18px center;
    background-size: 18px 18px;
    border: 1px solid var(--decorative-gray);
    border-radius: 10px;
}

.header-itens_search input.has-content {
    background: none;
}

#search-result {
    align-content: start;
    width: 200px;
}

.header-itens_session, .header-itens_user {
    display: flex;
    align-items: center;
}

.header-itens_user {
    gap: 8px;
}

.header-itens_session {
    gap: 24px;
}

.header-itens_user img {
    width: 20px;
    height: 24px;
}

.header-itens_user div {
    font-family: var(--secondary-font), sans-serif;
    font-weight: 500;
    line-height: 14px;
    width: 87px;
    cursor: pointer;

}

.header-itens_cart img {
    margin-bottom: 6px;
    cursor: pointer;
}


/* Header Navigation */

.header-nav, .header-nav_menu, .header-nav_list {
    display: flex;
    justify-content: space-between;
    line-height: 22px;
}

.header-nav {
    padding: 5px 0 18px;
}

.header-nav_menu {
    gap: 8px;
    font-family: var(--secondary-font), sans-serif;
    font-weight: bold;
    align-items: start;

}

.header-nav_menu img {
    width: 20px;
    height: 20px;
}

.header-nav_list {
    gap: 45px;
}

/* Main */

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main - Banner Principal */

.container-banner {
    background-image: url("../assets/images/main-banner.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 510px;
}



/* Main - Carrossel */

.container-carrossel {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 1260px;
    margin: 96px 0;
    overflow: visible;
}

.carrossel-header {
    display: flex;
    justify-content: space-between;
    font-family: var(--secondary-font), sans-serif;
    font-weight: bold;
    align-items: center;
    margin-bottom: 19px;
    padding: 2px 0;
}

.carrossel-header span {
    cursor: pointer;
}

.carrossel-header h3 {
    font-size: 20px;
}

.carrossel-header span {
    font-size: 14px;
}

.carrossel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    gap: 17px;
}

.carrossel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 16px;
}

.indicator {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--secondary-gray);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.indicator.active {
    background-color: var(--tertiary-gray);
}

.carrossel-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap: 16px;
}

.carrossel-product {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border: 1px solid var(--decorative-gray);
    border-radius: 10px;
    height: 409px;
    width: 238px;
    padding: 8px;
    font-family: var(--secondary-font), sans-serif;
}

.carrossel-product .button-action {
    width: 100%;
    font-size: 14px;
    padding: 10px 0;
}

.product-tag {
    position: absolute;
    background-color: #00264e;
    color: var(--primary-color);
    font-family: var(--secondary-font), sans-serif;
    font-weight: bold;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    align-content: center;
    border-radius: 4px;
    border: 1px solid #707070;
    width: 41px;
    height: 22px;
    top: 8px;
    left: 8px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container-product_price {
    display: flex;
    gap: 9px;
    align-items: center;
    padding: 2px 0;
    color: #303030;
}

.product-price_total {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: line-through;
}

.product-price_discount {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: var(--tertiary-color);
}

.product-tag_discount {
    background-color: #5ec0be;
    color: var(--primary-color);
    border-radius: 4px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    padding: 4px 8px;
}

.product-price_installment {
    font-size: 12px;
}

.product-price_installment span {
    font-weight: bold;
}

.product-image {
    width: 222px;
    height: 222px;
}

.product-title {
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 16px;

}

.carrossel-button_prev, .carrossel-button_next {
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 54%;
    transform: translateY(-50%);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.carrossel-button_prev:hover, .carrossel-button_next:hover {
    background-color: var(--decorative-color);
    border: 2px solid var(--decorative-color);
}

.carrossel-button_prev img, .carrossel-button_next img {
    width: 12px;
    height: 11px;
}

.carrossel-button_prev {
    left: -15px;
}

.carrossel-button_next {
    right: -15px;
}
.carrossel-button_prev:hover svg path, .carrossel-button_next:hover svg path {
    fill: var(--primary-color);
}


.carrossel-button_prev:disabled, .carrossel-button_next:disabled {
    background-color: var(--secondary-gray);
    color: var(--primary-color);
    border: none;
    cursor: not-allowed;
}

.carrossel-button_prev:disabled svg path, .carrossel-button_next:disabled svg path {
    fill: var(--primary-color);
}


/* Main Article */

.container-article {
    display: flex;
    align-items: center;
    width: 1177px;
}

.article-info {
    display: flex;
}
.article-info img {
    width: 652px;
    height: 747px;
}

.article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    padding: 0 38px;
}

.article-text h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: .6px;
    padding: 2px 0;
}

.article-text p {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: .2px;
}


/* Main - Article Single */

.container-article_single {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 819px;
    background-color: var(--secondary-gray);
    margin: 55px auto;
}

.article-single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1177px;
}

.article-single_img {
    width: 652px;
    height: 728px;
}

.article-single-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 49px;
    gap: 50px;
}

.article-single_text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.article-single_text img {
    width: 90px;
    height: 90px;
}

.article-single_title {
    font-size: 30px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: .2px;
    text-align: center;
    color: var(--tertiary-gray);
}

.article-single_text p {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 1px;
    color: var(--tertiary-gray);
}

/* Main Contact */

.container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/contact-banner.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 660px;
    margin-bottom: 64px;
}

.container-contact p {
    width: 100%;
    height: 132px;
    text-align: center;
    align-content: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 30px;
    line-height: 140%;
    font-weight: 100;
}

/* Main Register */

.container-register {
    width: 1260px;
    flex-direction: column;
    font-family: var(--secondary-font), sans-serif;
    align-items: center;
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.register-title {
    font-size: 20px;
    font-weight: bold;
}

.register-title span {
    color: var(--secondary-color);
}

.register-box {
    width: 100%;
    display: flex;
    gap: 24px;
    background-color: var(--secondary-gray);
    border-radius: 8px;
    padding: 64px;
}

.register-box_input {
    width: 280px;
    border: none;
    border-radius: 8px;
    font-family: var(--secondary-font), sans-serif;
    color: #303030;
    padding: 15px 0 14px 24px;
    outline: none;
}

.register-box_checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    color: #656565;
    gap: 8px;
}

.register-box_checkbox span {
    text-decoration: underline;
}


/* Footer */
.container-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.container-footer_links {
    width: 100%;
    background-color: var(--primary-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 64px 0;
}

.footer-links {
    width: 1260px;
    display: flex;
    justify-content: space-between;
}

.footer-links_socials {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    gap: 40px;
}

.links-socials-title {
    width: 152px;
    height: 27px;
}

.links-socials-logos {
    display: flex;
    gap: 40px;
}

.footer-links ul {
    font-family: var(--secondary-font), sans-serif;
}

.footer-links h4 {
    margin-bottom: 11px;
    font-weight: bold;
}

.footer-links_item {
    font-size: 12px;
    line-height: 28px;
}

.footer-links a, .footer-links p {
    text-decoration: none;
    line-height: 28px;
    font-weight: 100;
    color: #303030;
}

.footer-links a, .footer-links span {
    font-size: 14px;
}

.footer-links p {
    font-size: 12px;
}

.footer-links_logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.container-footer_info {
    width: 1260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.container-footer_info p {
    font-family: var(--secondary-font), sans-serif;
    font-weight: 100;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    padding: 0 104px;
}

.footer-info_logos {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px 0;
}

.footer-info_logos span {
    font-size: 15px;
    font-weight: 100;
    color: var(--primary-gray);
}


